@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;

    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

.checked {
    color: orange;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 10px 20px;
    color: white;
}

header {
    max-width: 75%;
    margin: 60px auto;  
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #3A3A3A;
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

ul li {
    font-size: 14px;
    cursor: pointer;
}

.header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;

}

.header-text {
    width: 50%;
}

.header-text>*:not(:last-child) {
    margin-bottom: 20px;
}

.header-title {
    font-size: 2.5rem;
    color: #3A3A3A;
    font-weight: 700;
    line-height: 50px;
}

.header-image {
    background-image: url('../images/Circle_design.svg');
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-image .header-camera-image {
    max-width: 100%;
}

.header-camera-image img {
    width: 92%;
    /* height: 3000px; */
}

.online-shop-image {
    display: flex;
    justify-content: space-evenly;
}


main {
    width: 85%;
    margin: 60px auto;
    /* margin: 60px 250px; */
}

.online-shop-image {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border: 1px solid rgb(241, 237, 237); 
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    /* background-image: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%); */
}

.collection {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection .collection-title{
    color: #3A3A3A;

font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 250% */
}

.collection .collection-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-image .collection-image-content {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.collection-image-content img{
    width: 100%;
    object-fit: cover;
}

.image-detail h3 {
    color: #18191F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.image-detail h4 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.image-detail h5 {
    color: #5E6366;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.image-detail p {
    color: #787885;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.feature {
    margin: 60px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}


.feature-text>*:not(:last-child) {
    margin-bottom: 20px;
}

.feature-image {
    max-width: 404px;
}

.feature-image img {
    width: 100%;
}


.feature-title {
    color: #0A0826;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 157.895% */
}

.feature-description {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    max-width: 380px;
    /* 175% */
}

.feature-text button {
    border-radius: 0%;
    text-align: center;
}

.footer-section {
    background-color: black;
    max-height: 240px;
}

.footer-content {
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content>*:not(:last-child) {
    margin-bottom: 10px;
}

.footer-icon {
    width: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-icon i {
    /* margin-right: 20px; */
}

.footer-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.footer-copy-write {
    color: #D9DBE1;
    font-family:Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    /* 171.429% */
}
